body, html {
  height: 100%;
  margin: 0;
}

.bg {
  
  background-image: url("website.png");

  
  height: 100%; 

 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.custom
{
	width: 550px;
	margin-left: 220px;
}
input[type='file']
{
    position: relative;
	float: left;
	margin-top: 500px;	
}

img
{
    border-style: solid;
    position: absolute;
    height: 382px;
    width: 600px;
    margin: 27px;
    margin-left: 450px;
    margin-top: 142px;
    float: right;
	
}

label {
    background-color: Grey; 
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    position: fixed;
    margin-top: 469px;
    margin-left: 72px;
    padding: 20px;
     	
}